<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestApiReport">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.TC02_OrderApisTest"/>
      <class name="Tests.TC01_BookApiTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RestApiReport -->
